/* Global */
body {
    margin: 0;
    padding: 0;
    background-color:/* rgb(39, 54, 51); rgb(219, 253, 245); */ rgb(28, 148, 118);
}

#main {
    background-color: rgb(28, 148, 118);
    width: 80vh;
    height: 100vh;
}

/* Navigation styles */

#head {
    overflow: hidden;
    clear: both;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgb(0, 0, 0);
    color: white;
    box-shadow: 0 0 5px 0 rgb(77, 145, 128);
    border-radius: 2px;
}

#name {
    float: left;
    font-size: 20px;
    padding: 18px;
}

#navbar {
    float: right;
    margin-top: 40px;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 20px;
}

#navbar a:hover {
    font-weight: bold;
}


/* Welcome-Section */

#about {
    overflow: hidden;
    clear: both;
    margin-top: 10%;
    box-shadow: 0 2px 2px rgb(0, 0, 0);
}

#about .my-info {
    float: right;  
    width: 40%;
    padding: 2%;
    margin-right: 10%;
}

#about .my-info .info {
    font-size: 20px;
    padding: 2%;
    margin-top: 5%;
    line-break: strict;
}


#about .my-profile {
    float: right;
    width: 40%;
    padding: 2%;
}

#about .my-profile .profile {
    width: 290px;
    height: 300px;
    border: black 2px solid;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px rgb(0, 8, 6);
}

/* Projects */

 #projects {
     overflow: hidden;
     clear: both;
     margin-top: 2%;
     background-color:rgb(28, 148, 118);
     box-shadow: 0 2px 2px rgb(0, 0, 0);
 }

 #projects .first {
    float: left;
    width: 30%;
   margin-left: 3%; 
 }

 #projects .second {
    float: left;
    width: 30%;
    margin-left: 3%
}

#projects .third {
    float: left;
    width: 30%;
    margin-left: 3%;
}


#projects .four {
    float: left;
    width: 30%;
    margin-left: 3%; 
 }

#projects .five {
    float: left;
    width: 30%;
    margin: 5% ;
}

#projects .project-tile {
    width: 500px;
    height: 400px;
    box-shadow: 0 0 5px 1px rgb(0, 10, 3);
}


/* Contact Section */
#contact {
    width: 70%;
    margin: 5% auto;
}

#contact .contact-message {
    text-align: center;
}

#contact .contact-links .images {
    margin: 5px;
    width: 200px;
    height: auto;
    box-shadow:  0 0 5px 1px rgb(0, 10, 3);
}
#contact .contact-links .images-sep  {
    margin: 5px 5px 25px 5px;
    box-shadow: 0 0 1px 1px rgb(1, 10, 4);
}