/* Global */
body {
    margin: 0;
    padding: 0;
    background-color:/* rgb(39, 54, 51);*/ rgb(219, 253, 245);
}

#main {
    background-color: rgb(42, 226, 180);
    width: 80vh;
    height: 100vh;
}

/* Navigation styles */

#head {
    overflow: hidden;
    clear: both;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgb(42, 226, 180);
    box-shadow: 0 0 5px 0 rgb(77, 145, 128);
    border-radius: 2px;
}

#name {
    float: left;
    font-size: 20px;
    padding: 18px;
}

#navbar {
    float: right;
    margin-top: 40px;
}

#navbar a {
    text-decoration: none;
    color: black;
    padding: 20px;
}

#navbar a:hover {
    font-weight: bold;
}


/* Welcome-Section */

#about {
    overflow: hidden;
    clear: both;
    margin-top: 10%;
}

#welcome-section .my-info {
    float: right;  
    width: 40%;
    padding: 2%;
    margin-right: 10%;
}

#welcome-section .my-info .info {
    font-size: 20px;
    padding: 2%;
    margin-top: 5%;
    line-break: strict;
}


#welcome-section .my-profile {
    float: right;
    width: 40%;
    padding: 2%;
}

#welcome-section .my-profile img {
    width: 290px;
    height: 300px;
    border: black 2px solid;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px rgb(75, 110, 101);
}

/* Projects */
 #projects {
     overflow: hidden;
     clear: both;
     margin-top: 2%;
 }

 #projects .first {
    float: left;
    width: 30%;
   margin-left: 3%; 
 }

 #projects .second {
    float: left;
    width: 30%;
    margin-left: 3%
}

#projects .third {
    float: left;
    width: 30%;
    margin-left: 3%;
}

#projects .project-tile {
    width: 500px;
    height: 400px;
    box-shadow: 0 0 5px 2px rgb(153, 194, 194);
}